################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TCP Client/obj
/.vs/SPA_WebApplication
/.vs/ProjectEvaluation
/TCP Client/bin/Debug/net8.0
